@font-face {
    font-family: "Conso Medium";
    src: url(Conso/WOFF2/Conso\ Medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: "Conso Regular";
    src: url(Conso/WOFF2/Conso\ Regular.woff2);
    font-weight: 400;
}


@font-face {
    font-family: "Inter Medium";
    src: url(inter/Inter-Medium.otf);
    font-weight: 500;
}

@font-face {
    font-family: "Inter Light";
    src: url(inter/Inter-Light-BETA.otf);
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter Light";
    background-color: white;
    color: #121212;
}

nav {
    display: flex;
    justify-content: space-between; /*logoet ryger til venstre og menuen til højre*/
    align-items: center;
    padding: 20px 60px;
    background-color: #edece8;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header__logo {
    font-family: "Conso Medium";
    font-weight: 500;
    font-size: 32px;
    color: #462521;
    text-decoration: none;
    letter-spacing: 0.5px;
}

.header__logo:hover {
    border-bottom: none;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px; /*afstand mellem menupunkterne*/
}

nav a {
    text-decoration: none;
    color: #462521;
    font-size: 18px;
    letter-spacing: 2px;
}

nav ul a:hover {
    border-bottom: 1px solid #462521;
}

.hero {
    height: 100vh; /*90% af skærmens højde*/
    background-image: url("hero.jpg");
    background-size: cover; /*billedet fylder hele sektionen*/
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero__content h1 {
    font-size: 70px;
    font-family: "Conso Medium";
    font-weight: 500;
}

.hero__content h2 {
    font-size: 24px;
    margin-bottom: 50px;
    font-family: "Inter Medium";
    letter-spacing: 4px;
    font-weight: 500;
}

.button {
    display: inline-block;
    background-color: #462521;
    color: white;
    padding: 15px 40px;
    text-decoration: none;
    font-family: "Inter Medium";
    font-weight: 500;
    letter-spacing: 4px;
}

.button:hover {
    background-color: #2f1919;
}

.hero__scroll-arrow {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    text-decoration: none;
    color: #ffffff;
    animation: bounce 1.8s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }

    50% {
        transform: translateX(-50%) translateY(10px);
    }
}

.intro {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 120px 80px;
}

.intro__content {
    max-width: 430px;
}

.intro__content h2 {
    font-size: 50px;
    margin-bottom: 40px;
    font-family: "Conso Regular";
    font-weight: 400;
    line-height: 1;
}

.intro__content p {
    line-height: 1.7;
    margin-bottom: 50px;
    letter-spacing: 1px;
    font-size: 18px;
}

.intro__image img {
    width: 350px;
    height: 420px;
    object-fit: cover;
}

.projects {
    background-color: #e8f6fb;
    padding: 90px 80px 140px;
}

.projects > h2 {
    text-align: center;
    font-family: "Conso Medium";
    font-weight: 500;
    font-size: 50px;
    margin-bottom: 60px;
}

.projects__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: #e8f6fb;
}

.projects__card {
    background-color: white;
    padding: 10px;
    transition:
        transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        box-shadow 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.projects__card img {
    width: 400px;
    height: 400px;
    display: block;
    object-fit: cover;
}

.projects__card p {
    font-family: "Inter Medium";
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: 4px;
    font-size: 24px;
}

.projects__card:hover {
    transform: scale(1.03);
    box-shadow: 0 18px 32px rgba(0, 0, 0, 0.28)
}

footer {
    background-color: #edece8;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
    color: #462521;
}

footer h2 {
    font-size: 18px;
}

.footer__contact-info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.footer__contact-info img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}

.footer__socials {
    display: flex;
    gap: 20px;
}

.footer__socials img {
    width: 28px;
    height: 28px;
    object-fit: contain;
}

.about {
    background-color: white;
    padding: 140px 80px 100px;
}

.about__title {
    font-family: "Conso Medium";
    font-weight: 500;
    font-size: 70px;
    text-align: center;
    margin: 40px 0 120px 0;
}

.about__section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin-bottom: 100px;
}

.about__section--reverse {
    flex-direction: row-reverse;
}

.about__text {
    max-width: 420px;
}

.about__text h2 {
    font-size: 50px;
    font-family: "Conso Regular";
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1;
}

.about__text p {
    font-size: 18px;
    line-height: 1.7;
    letter-spacing: 1px;
}

.about__image img {
    width: 380px;
    height: 475px;
    object-fit: cover;
}

.skills {
    background-color: #edece8;
    padding: 90px 80px 140px;
    text-align: center;
}

.skills h2 {
    font-family: "Conso Medium";
    font-weight: 500;
    font-size: 50px;
    color: #462521;
}

.skills__text {
    font-family: "Inter Medium";
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 1.5;
    text-align: center;
    color: #462521;
    margin-bottom: 50px;
}

.skills__grid {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    justify-content: center;
    gap: 50px;
}

.skills__grid img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.contact-cta {
    background-color: #e8f6fb;
    padding: 90px 80px 140px;
    text-align: center;
}

.contact-cta h2 {
    font-family: "Conso Medium";
    font-weight: 500;
    font-size: 50px;
}

.contact-cta p {
    font-family: "Inter Medium";
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 1.5;
    text-align: center;
    color: #121212;
    margin-bottom: 50px;
}

.projects-page {
    background-color: white;
    padding: 180px 60px 100px;
}

.projects-page h1 {
    font-family: "Conso Medium";
    font-weight: 500;
    font-size: 70px;
    color: #121212;
    text-align: center;
}

.projects-page p {
    font-family: "Inter Medium";
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 1.5;
    text-align: center;
    color: #121212;
    margin-bottom: 50px;
}

.projects__card--detailed {
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition:
        transform 0.35s cubic-bezier(0.22, 1, 0.36, 1),
        box-shadow 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}

.projects__card--detailed:hover {
    transform: scale(1.03);
    box-shadow: 0 18px 32px rgba(0, 0, 0, 0.28)
}

.projects__card--detailed img {
    width: 400px;
    height: 400px;
    display: block;
    object-fit: cover;
}

.projects__card--detailed h2 {
    font-family: "Inter Medium";
    font-weight: 500;
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 1px;
    letter-spacing: 4px;
    text-align: left;
}

.projects__card--detailed p {
    font-family: "Inter Light";
    margin-top: 10px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    text-align: left;
    font-size: 18px;
    gap: 15px;
}

.projects__button {
    align-self: center;
    margin-top: auto;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #462521;
    color: #462521;
    padding: 15px 35px;
    font-family: "Inter Medium";
    font-weight: 500;
    letter-spacing: 4px;
    margin-bottom: 30px;
}

.projects__button:hover {
    background-color: #462521;
    color: white;
}

 .popup {
    position: fixed; /*popuppen ligger ovenpå hele siden*/
    inset: 0; /*popuppen fylder hele skærmen*/
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.75); /*mørk gennemsigtig baggrund*/
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /*popup usynlig indtil man trykker på læs mere*/
    visibility: hidden; /*popuppen kan ikke klikkes på*/
    transition: 0.3s; /*pop uppen fader blødt ind*/
    z-index: 99999; /*virker kun med position og er en pritoritering for hvor langt fremme på siden den er*/
    overflow-y: auto; /*scroller vises kun hvis nødvendigt fx hvis popuppen bliver for høj*/
    padding: 30px;
}

.popup:target {
    opacity: 1;
    visibility: visible; /*nu bliver pop uppen synlig hvis man klikker på læs mere*/ 
}

.popup:target {
    opacity: 1;
    visibility: visible;
}


.popup__content {
    position: relative; /*Position: relative bruges til at skabe et referencepunkt for elementer med position: absolute. I min popup bruger jeg det, så luk-knappen kan placeres korrekt inde i popup-boksen.*/
    background: #ffffff;
    width: 48vw;
    max-width: 900px;
    padding: 22px;
}


.popup__close {
    position: absolute; /*placeres ift referencepunktet*/
    top: 18px;
    right: 18px;
    width: 46px;
    height: 46px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #121212;
    font-size: 34px;
    line-height: 1;
    z-index: 999999;
}

.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.slider__track {
    display: flex;
    transition: transform 0.4s ease;
}

.slider__track img {
    width: 100%; /*fylder hele sliderens bredde*/
    flex-shrink: 0; /*billedet må ikke krympe*/
    max-height: 68vh; /* må maks fylde 68% af skærmens højde*/
    object-fit: contain; /*hele billedet skal kunne ses uden at blive beskåret*/
}

.slider__button {
    position: absolute; /*pilen placeres ovenpå slideren*/
    top: 50%; /*pilen starter midt på slideren lodret*/
    transform: translateY(-50%); /*flytter pilen lidt op så den centrere præcist*/
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 70px;
    font-weight: 300;
    font-family: "Inter Light";
    cursor: pointer; /*bliver en hånd ved hover*/
    z-index: 10; /*pilen ligger ovenpå billederne*/
    transition: opacity 0.3s ease;
    line-height: 1;
}

.slider__button:hover {
    opacity: 0.5;
}

.slider__button--prev {
    left: 10px;
}

.slider__button--next {
    right: 10px;
}

.popup__image {
    width: 100%;
    max-height: 68vh;
    object-fit: contain;
    display: block;
    margin: 0 auto 18px auto; 
}


.popup__text {
    padding-top: 18px;
}

.popup__text h2 {
    font-family: "Inter Medium";
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.popup__text p {
    font-family: "Inter Light";
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 1px;
}

.popup__video { /*containeren omkring videoen*/
    display: flex;
    justify-content: center;
}

.popup__video video { /*min mp 4 video*/
    width: 100%;
    max-width: 1000px;
    max-height: 75vh;
    display: block;
    object-fit: contain;
    border-radius: 10px;
}

.popup__content--video {
    width: 70vw;
    max-width: 1200px;
}

.popup__video iframe { /*reel*/
    width: 320px;
    height: 570px;
    border: none;
    overflow: hidden;
}


.contact {
    padding: 180px 80px 120px;
    background-color: white;
}

.contact h1 {
    font-family: "Conso Medium";
    font-weight: 500;
    font-size: 70px;
    text-align: center;
}

.contact > h2 {
   font-family: "Inter Medium";
   font-weight: 500;
    font-size: 24px;
    letter-spacing: 4px;
    line-height: 1.5;
    text-align: center;
    color: #121212;
    margin-bottom: 50px; 
}

.contact-intro {
    text-align: center;
    font-family: "Inter Medium";
    font-weight: 500;
    letter-spacing: 4px;
    line-height: 1.5;
    margin-bottom: 100px;
}

.contact__container {
    display: flex;
    justify-content: center;
    gap: 120px;
    align-items: flex-start;
}

.contact__info,
.contact__form-wrapper {
    width: 400px;
}

.contact__info p {
    font-family: "Inter Light";
    letter-spacing: 2px;
    text-align: left;
    font-size: 18px;
    line-height: 1.4;
}

.contact__info h2,
.contact__form-wrapper h2 {
    font-family: "Conso Regular";
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 40px;
}

.contact__info-block {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact__item {
    display: flex;
    align-items: center;
    gap: 12px;
}

.contact__item img {
    width: 22px;
}

.contact__social-title {
    margin-top: 50px;
    margin-bottom: 25px;
    letter-spacing: 4px;
    font-family: "Inter Medium";
    font-weight: 500;
}

.footer__socials {
    display: flex;
    gap: 20px;
}

.footer__socials img {
    width: 35px;
}

.contact__form {
    background-color: #edece8;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__form input,
.contact__form textarea {
    padding: 15px;
    border: 1px solid #999;
    font-family: "Inter Light";
    font-size: 18px;
    letter-spacing: 2px;
    background-color: white;
}

.contact__form textarea {
    height: 140px;
    resize: none;
}

.contact__form button {
    background-color: #462521;
    color: white;
    border: none;
    padding: 16px 45px;
    font-family: "Inter Medium";
    font-weight: 500;
    letter-spacing: 4px;
    cursor: pointer;
    width: fit-content;
    align-self: center;
}

.contact__form button:hover {
    background-color: #2f1919;
}

@media (max-width: 768px) {

    nav {
        padding: 20px;
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero {
    background-position: 30% center;
    padding: 0 20px;
}

    .about__title,
    .projects-page h1,
    .contact h1 {
        font-size: 40px;
    }

    .hero__content {
        max-width: 100%;
        padding: 0 10px;
    }

    .hero__content h1 {
        font-size: 34px;
        line-height: 1.1;
    }

    .hero__content h2 {
        font-size: 16px;
        line-height: 1.4;
    }


    .about__text h2,
    .contact__info h2,
    .contact__form-wrapper h2,
    .skills h2,
    .projects > h2,
    .contact-subtitle h2,
    .intro__content h2,
    .contact-cta h2 {
        font-size: 30px !important;
    }


    .skills__text,
    .contact h2,
    .projects-page p,
    .contact-cta p {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .projects__card--detailed h2,
    .projects__card p {
    font-size: 20px;
}

    .intro,
    .about__section,
    .contact__container {
        flex-direction: column;
        text-align: center;
    }

    .intro__content,
    .about__text,
    .contact__info,
    .contact__form-wrapper {
        max-width: 100%;
        width: 100%;
    }

    .projects__grid {
        grid-template-columns: 1fr;
    }

    .projects__card img,
    .projects__card--detailed img,
    .about__image img,
    .intro__image img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .skills__grid {
        grid-template-columns: repeat(4, 70px);
        justify-content: center;
        gap: 15px;
    }

    .skills__grid img {
        width: 75px;
        height: 75px;
        object-fit: contain;
    }

    footer {
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }

    .footer__contact-info {
        justify-content: center;
    }

    .contact__item {
        justify-content: center;
    }

    .footer__socials {
        justify-content: center;
    }


    .projects,
    .about,
    .contact,
    .projects-page,
    .skills,
    .contact-cta {
        padding-left: 25px;
        padding-right: 25px;
    }

    .contact__form {
        width: 100%;
    }

    .intro__content p,
    .about__text p,
    .contact__info p {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 1px;
}

  .popup {
    padding: 16px;
    }

    .popup__content {
        width: 90vw;
        max-height: 85vh;
        overflow-y: auto;
        padding: 18px;
}

    .popup__image {
        max-height: none;
    }

   .popup__text h2 {
    font-size: 16px;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.popup__text p {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1px;
}

    .popup__close {
        font-size: 32px;
    }

    .popup__video iframe {
        width: 240px;
        height: 430px;
}
}

@media (min-width: 768px) and (max-width: 1023px) {

    .projects__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects__card img,
    .projects__card--detailed img {
        width: 100%;
        height: 300px;
    }

    .intro,
    .about__section,
    .contact__container {
        gap: 40px;
        padding: 80px 40px;
    }

    .hero__content h1 {
        font-size: 55px;
    }

    .hero__content h2 {
        font-size: 20px;
    }

    nav {
        padding: 20px 40px;
    }

   .intro,
    .about__section,
    .contact__container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 50px;
    }

    .about__section {
    margin-bottom: 10px;
}

    .intro__content,
    .about__text,
    .contact__info,
    .contact__form-wrapper {
        width: 100%;
        max-width: 700px;
    }

    .footer__contact-info,
    .contact__item,
    .footer__socials {
        justify-content: center;
    }

    
    .contact__info p {
        text-align: center;
    }

    footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.footer__contact-info img {
    display: block;
}

.popup__content {
    width: 82vw;
    max-width: 900px;
    padding: 24px;
}

.popup__content--video {
    width: 82vw;
     max-width: 1000px;
}

.popup__image {
    width: 100%;
    max-height: 60vh;
    object-fit: contain;
}

.popup__video video {
    width: 100%;
    max-width: 700px;
    max-height: 60vh;
}

.popup__video iframe {
    width: 300px;
    height: 540px;
}

.popup__text h2 {
    font-size: 22px;
    letter-spacing: 4px;
}

.popup__text p {
    font-size: 16px;
    line-height: 1.6;
}
}